/*
    You can add your own custom styles here.
*/
@media (min-width: 1024px) {
    .article-list--compact.links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: none;
        box-shadow: none;
        
        article {
            background: var(--card-background);
            border: none;
            box-shadow: var(--shadow-l2);
            margin-bottom: 8px;
            border-radius: 10px;
            &:nth-child(odd) {
                margin-right: 8px;
            }
        }
    }
  }

  .powerby {
    /* 隐藏原有内容 */
    text-indent: -9999px;
    overflow: hidden;
    /* 添加:before伪元素以显示新内容 */
    position: relative;
  }
  
  .powerby::before {
    content: 'Powered by LaoShui';
    display: block;
    position: absolute;
  }

  